<!DOCTYPE html>
<html lang="en">

<head>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        .my-custom-input {
            max-width: 25%;
        }
        .navbar-dark .navbar-toggler {
            border-color: #003382;
        }
        .navbar-dark .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23003B95'%3e%3cpath stroke='none' d='M0 0h30v30H0z'/%3e%3cpath d='M4 7h16M4 15h16M4 23h16'/%3e%3c/svg%3e");
        }
        .navbar-dark .navbar-nav .nav-link {
            color: #fff;
        }
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #fff;
        }
        .navbar-dark.fixed-top {
            background-color: #003382 !important;
        }
    </style>
    <meta charset="UTF-8">
    <title>I-PLAN</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">I-PLAN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <!-- <li class="nav-item">
                <a class="nav-link"  href="/">Home</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#dashboard">DashBoard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/costpredict">Cost Predict Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/recommend">Recommend Service</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>1</h1>
            <h1 class="mt-5">항공 숙박 추천 서비스</h1>
            <hr>
<!--            <strong style="font-weight: bold; color: #003B95;">목적지</strong>,-->
            <!-- <p class="lead"><code class="small">원하는 날짜</code>와 <code class="small">목적지</code>, <code class="small">예산</code>을 입력하고 항공권, 숙박시설 및 교통까지 추천받으세요.</p> -->
            <p class="lead"><strong style="font-weight: bold; color: #003B95;">원하는 날짜</strong>와 <strong style="font-weight: bold; color: #003B95;">예산</strong>을 바탕으로 항공권, 숙박시설 및 교통까지 추천해드립니다</p>
          </div>
            <!--            <p>설명하는 곳 2 <a href="/docs/5.0/examples/sticky-footer/">Link</a> 링크.</p>-->
        </div>

        <form action="/recommend/result", method="POST">
            <div class="container">
<!--                <div class="mb-3">-->
<!--                <br>-->
<!--                  <label class="form-label"><b>목적지</b>를 선택하세요</label>-->
<!--                  <select class="form-select my-custom-input" aria-label="destination" name="destination">-->
<!--                      <option selected>목적지 선택하기</option>-->
<!--                      <option value="HND">김포(GMP)-하네다(HND)</option>-->
<!--                      <option value="NRT">인천(ICN)-나리타(NRT)</option>-->
<!--                  </select>-->
<!--              </div>-->
                <br>
                <div class="mb-3">
                  <label for="start-date" class="form-label"><b>가는 날</b>을 선택하세요</label>
                  <input type="date"
                      id="start-date"
                      max="2023-07-31"
                      min="2023-06-01"
                      value="2023-06-01"
                      name="start_date"
                      class="form-control my-custom-input">
              </div>

                <div class="mb-3">
                  <label for="end-date" class="form-label"><b>오는 날</b>을 선택하세요</label>
                  <input type="date"
                      id="end-date"
                      max="2023-07-31"
                      min="2023-06-01"
                      value="2023-06-01"
                      name="end_date"
                      class="form-control my-custom-input">
              </div>

                <!-- <div class="input-group mb-3">
                    <label class="col-sm-3 col-form-label">목적지를 선택하세요:</label>
                    <select class="form-select form-select-sm my-custom-input" aria-label=".form-select-sm example" name="destination">
                        <option selected>목적지 선택하기</option>
                        <option value="HND">HND</option>
                        <option value="NRT">NRT</option>
                    </select>
                </div> -->

                <!-- <div class="input-group mb-3">
                    <label class="col-sm-3 col-form-label">예산을 입력해주세요: </label>
                    <div class="col-sm-3">
                        <input type='text' class="form-control my-custom-input" value="ex) 500000" name="cost">
                    </div>
                </div>

                <div class="sticky-md-bottom">
                <button type="submit" class="btn btn-outline-dark my-custom-input">추천하기</button>
                </div> -->
                <div class="mb-3">
                  <label class="form-label"><b>예산</b>을 입력해주세요</label>
                  <input type="text" class="form-control my-custom-input" placeholder="ex) 500000" name="budget">
              </div>
              <hr>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-dark my-custom-input">예측하기</button>

              </div>

            </div>
        </form>
    </main>


</body>
</html>
